body {
    background-image: url(../src/other_img/backdrop.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: space-between;
}

.logo-container {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1;
    opacity: 70%;
}

.logo-link {
    text-decoration: none;
}

.socials {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: flex-start;
    z-index: 1;

}

.social-container {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.bar_on_top{
    /* position: sticky; */
    top: 0;
    left: 0;
    width: 100vw;
    /* height: 30px;  */
    opacity: 70%;
}

.container {
    text-align: center;
    margin-bottom: 130px;
}

.button {
    position: relative; 
    padding: 15px 30px; 
    background-color: #2bdae1; 
    color: black;
    border: none; 
    cursor: pointer; 
    text-decoration: none; 
    display: inline-block;
    border-radius: 10%;
    font-weight: bold;
}

.button .arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 40px;
    height: 40px;
    background-image: url(../src/other_img/arrow.svg);
    background-size: cover;

}

.imagine {
    position: absolute;
    bottom: 200px; 
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 75%;
    max-height: 80%;

}

.weare {
    position: absolute;
    bottom: 275px; 
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 40px;
    color: aliceblue;

}